
      <h2>
          There are <u><%=Contact.count%></u> contacts
      </h2>


        <% @contacts.each do |contact| %>
          <p>
            <%= contact.first_name %> <%= contact.last_name%> (<%= contact.email%>)
            <h5><a href="/contacts/<%=contact.id%>">Edit</a> | <a href="#">Delete</a></h5>
          </p>
        <% end %>
