<div class="name">
  <h3><%= @contact.first_name %> <%= @contact.last_name %></h3>
  <br>

  Name: <%= @contact.first_name %> <%= @contact.last_name %></li>
  <br>
  Email: <%= @contact.email %></li>


 </div>
