<div class="name">
  <h3><%= @contact.first_name %> <%= @contact.last_name %></h3>
  <br>

  Name: <%= @contact.first_name %> <%= @contact.last_name %>
  <br>
  Email: <%= @contact.email %>
  <br>
  Note: <%=@contact.note %>
</div>
<br>

<a href="/contacts/<%=@contact.id%>/edit">
  <button type="edit"  value="edit">Edit Contact</button></a>
